@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background: #39345a;
}

canvas {
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
}
